.animation-sliding-img-up{
    animation: scroll 10s linear infinite ;
}

.animation-sliding-img-down{
    animation: scroll 8s linear infinite reverse;
}





@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.slanted-rows-3d{
  transform: translate3d(7%, -2%, 0px) scale3d(.9, 0.7, 1) rotateX(-15deg) rotateY(-9deg) rotateZ(30deg);
}

.image-styles{
  @apply w-full shadow-md rounded-lg 
}