.animation-sliding-img-up-1{
    animation: scroll 10s linear infinite;
    animation-direction: normal;
}

.animation-sliding-img-up-2{
    animation: scroll 10s linear infinite;
    animation-direction: reverse;
}


.animation-sliding-img-up-1 img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd; /* Add border or customize as needed */
  border-radius: 5px; /* Optional: Add border-radius */
}


.animation-sliding-img-up-2 img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd; /* Add border or customize as needed */
  border-radius: 5px; /* Optional: Add border-radius */
}


@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}