<nav class="bg-gray-700 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div>
            <a routerLink="/">Logo</a>
        </div>
        <div class="flex items-center space-x-4 ">
            <a class="nav-link" routerLink="/">Home</a>
            <a class="nav-link" routerLink="/login">Login</a>
            <a class="nav-link" routerLink="/signup">Make an
                account</a>
            <!-- Add more links as needed -->
        </div>
    </div>
</nav>